/* Borders */

.SH-border { border: none !important; }
.SH-btn { border-top: none !important; }
.SH-brn { border-right: none !important; }
.SH-bbn { border-bottom: none !important; }
.SH-bln { border-left: none !important; }

/* Margins */

.SH-mrg5 { margin: 5px; }
.SH-mrg10 { margin: 10px; }
.SH-mrg15 { margin: 15px; }
.SH-mrg20 { margin: 20px; }
.SH-mrg25 { margin: 25px; }
.SH-mrg30 { margin: 30px; }

.SH-mt5 { margin-top: 5px; }
.SH-mr5 { margin-right: 5px; }
.SH-mb5 { margin-bottom: 5px; }
.SH-ml5 { margin-left: 5px; }

.SH-mt10 { margin-top: 10px; }
.SH-mr10 { margin-right: 10px; }
.SH-mb10 { margin-bottom: 10px; }
.SH-ml10 { margin-left: 10px; }

.SH-mt15 { margin-top: 15px; }
.SH-mr15 { margin-right: 15px; }
.SH-mb15 { margin-bottom: 15px; }
.SH-ml15 { margin-left: 15px; }

.SH-mt20 { margin-top: 20px; }
.SH-mr20 { margin-right: 20px; }
.SH-mb20 { margin-bottom: 20px; }
.SH-ml20 { margin-left: 20px; }

.SH-mt25 { margin-top: 25px; }
.SH-mr25 { margin-right: 25px; }
.SH-mb25 { margin-bottom: 25px; }
.SH-ml25 { margin-left: 25px; }

.SH-mt30 { margin-top: 30px; }
.SH-mr30 { margin-right: 30px; }
.SH-mb30 { margin-bottom: 30px; }
.SH-ml30 { margin-left: 30px; }

/* Paddings */

.SH-pdd5 { padding: 5px; }
.SH-pdd10 { padding: 10px; }
.SH-pdd15 { padding: 15px; }
.SH-pdd20 { padding: 20px; }
.SH-pdd25 { padding: 25px; }
.SH-pdd30 { padding: 30px; }

.SH-pt5 { padding-top: 5px; }
.SH-pr5 { padding-right: 5px; }
.SH-pb5 { padding-bottom: 5px; }
.SH-pl5 { padding-left: 5px; }

.SH-pt10 { padding-top: 10px; }
.SH-pr10 { padding-right: 10px; }
.SH-pb10 { padding-bottom: 10px; }
.SH-pl10 { padding-left: 10px; }

.SH-pt15 { padding-top: 15px; }
.SH-pr15 { padding-right: 15px; }
.SH-pb15 { padding-bottom: 15px; }
.SH-pl15 { padding-left: 15px; }

.SH-pt20 { padding-top: 20px; }
.SH-pr20 { padding-right: 20px; }
.SH-pb20 { padding-bottom: 20px; }
.SH-pl20 { padding-left: 20px; }

.SH-pt25 { padding-top: 25px; }
.SH-pr25 { padding-right: 25px; }
.SH-pb25 { padding-bottom: 25px; }
.SH-pl25 { padding-left: 25px; }

.SH-pt30 { padding-top: 30px; }
.SH-pr30 { padding-right: 30px; }
.SH-pb30 { padding-bottom: 30px; }
.SH-pl30 { padding-left: 30px; }

/* Block Positions */

.SH-block { display: block; }

.SH-pos-rel { position: relative; }
.SH-pos-abs { position: absolute; }
.SH-pos-fxd { position: fixed; }

.SH-left { float: left; }
.SH-right { float: right; }

.SH-center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.SH-clear { clear: both; }

.SH-ltr { direction: ltr; }
.SH-rtl { direction: rtl; }

/* Width */

/* pixel */

.SH-w100-px { width: 100px; }
.SH-w200-px { width: 200px; }
.SH-w300-px { width: 300px; }
.SH-w400-px { width: 400px; }
.SH-w500-px { width: 500px; }
.SH-w600-px { width: 600px; }
.SH-w700-px { width: 700px; }
.SH-w800-px { width: 800px; }
.SH-w900-px { width: 900px; }
.SH-w1k-px { width: 1000px; }

/* percent */

.SH-w10-pct { width: 10%; }
.SH-w20-pct { width: 20%; }
.SH-w30-pct { width: 30%; }
.SH-w40-pct { width: 40%; }
.SH-w50-pct { width: 50%; }
.SH-w60-pct { width: 60%; }
.SH-w70-pct { width: 70%; }
.SH-w80-pct { width: 80%; }
.SH-w90-pct { width: 90%; }
.SH-w100-pct { width: 100%; }

/* height */

/* pixel */

.SH-h100-px { height: 100px; }
.SH-h200-px { height: 200px; }
.SH-h300-px { height: 300px; }
.SH-h400-px { height: 400px; }
.SH-h500-px { height: 500px; }
.SH-h600-px { height: 600px; }
.SH-h700-px { height: 700px; }
.SH-h800-px { height: 800px; }
.SH-h900-px { height: 900px; }
.SH-h1k-px { height: 1000px; }

/* percent */

.SH-h10-pct { height: 10%; }
.SH-h20-pct { height: 20%; }
.SH-h30-pct { height: 30%; }
.SH-h40-pct { height: 40%; }
.SH-h50-pct { height: 50%; }
.SH-h60-pct { height: 60%; }
.SH-h70-pct { height: 70%; }
.SH-h80-pct { height: 80%; }
.SH-h90-pct { height: 90%; }
.SH-h100-pct { height: 100%; }

/* Font Sizes */

.SH-f10 { font-size: 10px; }
.SH-f11 { font-size: 11px; }
.SH-f12 { font-size: 12px; }
.SH-f13 { font-size: 13px; }
.SH-f14 { font-size: 14px; }
.SH-f15 { font-size: 15px; }
.SH-f16 { font-size: 16px; }
.SH-f17 { font-size: 17px; }
.SH-f18 { font-size: 18px; }
.SH-f19 { font-size: 19px; }
.SH-f20 { font-size: 20px; }
.SH-f21 { font-size: 21px; }
.SH-f22 { font-size: 22px; }
.SH-f23 { font-size: 23px; }
.SH-f24 { font-size: 24px; }
.SH-f25 { font-size: 25px; }
.SH-f26 { font-size: 26px; }
.SH-f27 { font-size: 27px; }
.SH-f28 { font-size: 28px; }
.SH-f29 { font-size: 29px; }
.SH-f30 { font-size: 30px; }

/* Font/Text settings */

.SH-b { font-weight: bold; }
.SH-i { font-style: italic; }

.SH-vam { vertical-align: middle; }
.SH-tac { text-align: center; }
.SH-tar { text-align: right; }
.SH-taj { text-align: justify; }

/* Effect Blink */

@-webkit-keyframes blink {
	0% { opacity: 1; }
	80% { opacity: 1; }
	81% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	80% { opacity: 1; }
	81% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	80% { opacity: 1; }
	81% { opacity: 0; }
	100% { opacity: 0; }
}

.SH-blink {
	-webkit-animation: blink 1s infinite;
	-moz-animation: blink 1s infinite;
	animation: blink 1s infinite;
}

/* Effect Spin */

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(359deg); }
}
@-moz-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(359deg); }
}
@keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(359deg); }
}

.SH-spin {
	-webkit-animation: spin 2s infinite linear;
	-moz-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
}

/* Effect Rotate */

.SH-rotate-90 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.SH-rotate-180 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.SH-rotate-270 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
}

/* Effect Flip */

/* horizontal */

.SH-flip-h {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
	-webkit-transform: scale(-1, 1);
	-moz-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

/* vertical */

.SH-flip-v {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
	-webkit-transform: scale(1, -1);
	-moz-transform: scale(1, -1);
	-ms-transform: scale(1, -1);
	transform: scale(1, -1);
}